<div class="fixed-top">
  <nav class="bg-white">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <a href="#" class="navbar-brand" [routerLink]="['']">
            <img src="/assets/logo.png" />
          </a>

        </div>
        <div class="col-sm-6">
          <div class="form-inline mt-3">
            <input type="text" placeholder="Pesquise..." class="form-control" #search
              (keyup)="getSearch(search.value)" />
            <button class="btn btn-primary" [disabled]="!inputSearch" >Procurar</button>
          </div>
          <ul class="list-group position-absolute">
            <li class="list-group-item" *ngFor="let oferta of ofertasTemplate">{{oferta.titulo}}</li>
          </ul>

        </div>
        <div class="col-sm-2">
          <a a href="#" class="mt-3"><img src="/assets/carrinho.png" /></a>

        </div>
      </div>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a [routerLink]="['/restaurantes']" routerLinkActive="active" class="nav-link" href="#">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/diversao']" routerLinkActive="active" href="#">Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>
